{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}

{% block content %}
<!-- Three columns of text below the carousel -->
<div class="row">
    <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{{ asset('img/img_heading/mains.jpg') }}" alt="circle-img" aria-label="Placeholder: 140x140"><text x="50%" y="50%" fill="#777" dy=".3em"></text>
        <h2>Soins des mains & pieds</h2>
        <p class="circle_para">Été comme hiver, nos mains et nos pieds méritent ce qui se fait de mieux en matière de soins. En effet, ils ont tendance à s'assécher assez rapidement si nous n'en prenons pas soin. Du soin basique au plus complet, cela dépend de vos besoins actuels et type de peau. Pour garder des pieds & mains douces et hydratés, n'hésitez pas à consulter nos produits. Découvrez-vite nos produits!</p>
        <p class="button_para"><a class="btn btn-secondary" href="{{ path('products_corps') }}" role="button">Voir produits &raquo;</a></p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{{ asset('img/img_heading/visage.jpg') }}" alt="circle-img" aria-label="Placeholder: 140x140"><text x="50%" y="50%" fill="#777" dy=".3em"></text>
        <h2>Soins du visage</h2>
        <p class="circle_para">Vous en avez marre d'acheter des tonnes de produits pour embellir votre peau mais sans succès...Ici, nous vous proposons des produits sains et naturels qui ne pourront que vous apportez tous les bienfaits dont votre peau a besoin. Avec les bons produits dénués de tous "silicones" ou "parabens" ou encore de "sulfates" qui se cachent bien souvent dans bons nombres de produits; nous mettons à votre disposition des produits made in France 100% bio pour révèler la beauté de votre peau. Pour en savoir plus, sur votre type de peau et les produits adaptés à votre peau, rendez-vous sur mes Conseils Beauté.</p>
        <p class="button_para"><a class="btn btn-secondary" href="{{ path('products_visage') }}" role="button">Voir produits &raquo;</a></p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{{ asset('img/img_heading/corps.jpg') }}" alt="circle-img" aria-label="Placeholder: 140x140"><text x="50%" y="50%" fill="#777" dy=".3em"></text>
        <h2>Soins du corps</h2>
        <p class="circle_para">Notre corps au quotidien subit les agressions exterieures que ce soit la pollution ou encore les rayons UVA-UVB en période estivale et j'en passe...C'est pourquoi, nous nous devons de la chouchouter afin qu'elle nous le rende bien. Avec les bons produits et de la patience, votre peau vous remerciera de la meilleure des manières, vous rendre rayonnant(e)! Alors n'attendez plus, consultez ici nos produits corporelles dès à présent!</p>
        <p class="button_para"><a class="btn btn-secondary" href="{{ path('products_corps') }}" role="button">Voir produits &raquo;</a></p>
    </div>
    <!-- /.col-lg-4 -->
</div>
<!-- /.row -->

{% endblock %}